@page "/login/{target:alpha}"
@using Microsoft.AspNetCore.Components.Forms
@inject NavigationManager navManager
@using MongoDB.Driver
@inject ILoginService loginService
@inject HttpClient Http

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Login</h3>
                </div>
                <div class="card-body">
                    <EditForm EditContext="@_editContext" OnSubmit="@HandleSubmit">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <InputText id="email" class="form-control" @bind-Value="userAuthentication.Email" placeholder="Enter your email" />
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <InputText type="password" id="password" class="form-control" @bind-Value="userAuthentication.Password" placeholder="Enter your password" />
                        </div>

                        <button type="submit" class="btn btn-primary w-100 mt-3">Login</button>
                    </EditForm>

                    
                    </div>
                </div>
            </div>
        </div>
    </div>


@code {

    private class UserAuthentication
    {
    }

    private UserAuthentication userAuthentication = new();
private EditContext? _editContext;
private User? user = null;
[Parameter]
public string target { get; set; }

protected override void OnInitialized()
{
_editContext = new EditContext(userAuthentication);

}

private async Task HandleSubmit()
{
    var response = await Http.PostAsJsonAsync("https://localhost:7077/api/Login", userAuthentication);
    if (response.IsSuccessStatusCode)
    {
        user = await response.Content.ReadFromJsonAsync<User>();
        if (user != null)
        {
            await loginService.Login(user);
            navManager.NavigateTo(target);
        }
    }
    else
    {
// Handle login failure (e.g., show error message)
        Console.WriteLine("Login failed");
    }
}


